.user-list{
    display: flex;
    flex-wrap: wrap;
}
.user-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    cursor: pointer;
    box-shadow: 4px 4px 8px 0 rgba(255, 255, 255, 0.2);
  }
  
  .user-card:hover{
    box-shadow: 4px -4px 8px 0 rgba(255, 255, 255, 0.2);
  }
  .user-card h2 {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  
  .user-card p {
    margin: 5px 0;
  }
  
  .user-card img {
    width: 100%;
    height: auto;
    margin-top: 10px;
  }